/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}


/* ========================
  REUSABLE COMPONENTS
 ======================== */

.btn-primary {
  padding: 12px 28px;
  border-radius: 50px;
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  color: var(--color-white);
  text-decoration: none;
  background: var(--gradient-primary);
}

/* ===================== 
  NAVBAR
 ===================== */

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}


.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-extrabold);
  background: var(--gradient-secondary);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  font-size: var(--fs-base);
  color: var(--color-nav-links);
}

.has-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}


/* ===============================
  HERO PAGE
 =============================== */

.hero {
  min-height: 100vh;
  background: url("../assets/images/hero-bg.png") center / cover no-repeat;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.hero-container {
  max-width: 1200px;
  margin-left: 90px;
  margin-bottom: 80px;
}


.hero-content {
  max-width: 692px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.hero-badge {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: var(--color-white);
  background: var(--gradient-secondary);
  border: 0.5px solid rgba(255, 255, 255, 0.4);
}

.hero-title {
  font-size: var(--fs-5xl);
  font-weight: var(--fw-bold);
  line-height: 112%;
  letter-spacing: -1.33px;
  color: var(--color-primary-text);
}

.hero-stats {
  display: flex;
  gap: 75px;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stat-value {
  font-size: 72px;
  font-weight: var(--fw-bold);
  background: var(--gradient-secondary);
  -webkit-background-clip: text;
  color: transparent;
}

.stat-label {
  font-size: var(--fs-xl);
  font-weight: var(--fw-light);
  color: #0D542B;
}

/* Hero Button */
.hero-btn {
  width: fit-content;
  padding: 12px 45px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}


/* ============================
   PRODUCT PAGE
============================= */

.product-container {
  max-width: 1400px;
  margin: 100px auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}

.product {
  margin: 0;
}

/* LEFT GALLERY */
.product-gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery-main {
  position: relative;   
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-main img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* arrows */
.gallery-arrow {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.gallery-arrow.left {
  left: 20px;
}

.gallery-arrow.right {
  right: 20px;
}

/* dots */
.gallery-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  cursor: pointer;
}

/* Thumbnails */
.gallery-thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: 100%;
}

.gallery-thumbnails img {
  width: 100%;
  aspect-ratio: 1 / 1;   /* ensures equal height & width */
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.gallery-thumbnails img.active {
  outline: 2px solid var(--color-primary);
}



/* RIGHT DETAILS */

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.product-title {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-semibold);
  color: var(--color-primary);
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #666;
}

.product-rating span {
  font-size: var(--fs-xs);
  color: var(--color-primary);
  font-weight: var(--fw-light);
}

.product-description {
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: var(--color-primary);
  line-height: 1.5;
}

.badge-popular {
  position: absolute;
  top: -13px;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background: linear-gradient(270deg, #032E15 0%, #008236 51.92%, #00C950 100%);
  color: #fff;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  text-align: center;
  padding: 6px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.fragrance-options {
  display: flex;
  gap: 16px;
}

.subscription-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-card.active .subscription-header {
  border-bottom: 1.01px solid #919798;
  padding-bottom: 10px;
}


.subscription-header input[type="radio"] {
  accent-color: #032E15;
  cursor: pointer;
}

.subscription-choice{
  display: flex;
  gap: 12px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.new-price {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 30px;
}

.old-price {
  font-size: var(--fs-lg);
  font-weight: var(--fw-light);
  line-height: 30px;
  color: var(--color-text-muted);
  text-decoration: line-through;
}

.subscription-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.block-title {
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: var(--color-primary);
  margin-bottom: 12px;
}

.subscription-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-to-cart-btn {
  width: 100%;
  margin-top: 32px;
  padding: 14px;
  border-radius: 50px;
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
}

.subscription-card {
  position: relative;
  border: 1.01px solid #B8B8B8;
  border-radius: 8px;
  padding: 15px;
}

.subscription-card.active {
  border: 1.01px solid #919798;
  border: Mixed solid 
}

.subscription-header h3 {
  font-size: 20px;
  font-weight: var(--fw-light);
  color: var(--color-primary);
}

.fragrance-options {
  display: flex;
  gap: 8px;
  width: 400px;
  position: relative;
}

.fragrance-card {
  flex: 1;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: relative;
}

.fragrance-card input[type="radio"] {
  position: absolute;
  top: 10px;
  left: 10px;
  accent-color: #032E15;
  cursor: pointer;
}

.fragrance-card-label {
  color: #919798;
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);
}

.fragrance-card input:checked + .fragrance-card-label {
  font-weight: var(--fw-bold);
  color: var(--color-primary);
}

/* =========================
   Fragrance Selection States
========================= */

.fragrance-card {
  border: 1px solid #e5e5e5;
  transition: all 0.2s ease;
}

/* When selected */
.fragrance-card input:checked ~ .fragrance-card-label,
.fragrance-card input:checked ~ img {
  opacity: 1;
}

.fragrance-card input:checked ~ .fragrance-card-label {
  color: var(--color-primary);
  font-weight: var(--fw-bold);
}

/* Card highlight */
.fragrance-card input:checked {
  accent-color: #032E15;
}

.fragrance-card:has(input:checked) {
  border: 1.5px solid #032E15;
  background: #F0FDF4;
}

/* Hover feedback */
.fragrance-card:hover {
  border-color: #032E15;
  cursor: pointer;
}

.subscription-card.active {
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}


.badge-best-seller {
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: var(--color-white);
  padding: 4px 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 10px;
  font-weight: var(--fw-bold);
  position: absolute;
  top: 0;
  left: 38px;
  transform: translateY(-50%);
}

.included-boxes {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  margin-bottom: 16px;
}

.included-card {
  flex: 1;
  border: 1.01px solid #919798;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
}

.included-card-label {
  color: #6F7577;
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
}

.free {
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
}

.included-card-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;

}

.subscription-block p {
  font-size: var(--fs-base);
  color: var(--color-primary);
  font-weight: var(--fw-light);
}

.included-list {
  padding-left: 16px;
  color: #666;
  list-style: none;
  display:flex ;
  flex-direction: column;
  gap: 8px;
}

.included-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.included-list li img {
  height: 14px;
  width: 14px;
}

.included-list li span {
  font-size: var(--fs-sm);
  font-weight: var(--fw-light);
  letter-spacing: 0.9px;
  color: var(--color-primary);
}

.included-list li span strong {
  font-weight: var(--fw-bold);
}

/* Hide subscription content by default */
.subscription-content {
  display: none;
}

.subscription-card.active .subscription-content {
  display: block;
}



/* =========================
OUR COLLECTIONS
============================ */

.collection-container {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  align-items: center;
  margin: 80px auto;
  padding: 0 32px;
}

.collection-title {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-semibold);
  color: var(--color-primary);
}

.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordion-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion-item {
  border: 1px solid #CDCDCD;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #032E15;
  font-size: 1rem;
}

.accordion-header span {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
}

.accordion-content {
  display: none;
  padding: 0 24px 24px 24px;
}

.accordion-content p {
  color: #666666;
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
}

.accordion-item.active .accordion-content {
  display: block;
}

.collection-image {
  display: flex;
  justify-content: flex-end;
}

.collection-image img {
  width: 100%;
  max-width: 100%;        
  height: auto;
  aspect-ratio: 4 / 5;   
  object-fit: cover;
  border-radius: 30px;
}



/* =========================
   STATS SECTION
============================ */

.stats {
  background: var(--gradient-primary);
  padding: 56px 0;
}

.stats-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 86px;
  text-align: center;
}

.stat-item h3 {
  font-size: var(--fs-4xl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 8px;
}

.stat-item p {
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: var(--color-white);
  line-height: 1.4;
}



/* =========================
   COMPARISON SECTION
============================ */

.comparison {
  padding: 100px 32px;
  background: #fff;
}

.comparison-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

/* =========================
   TABLE BASE
============================ */

.comparison-table {
  width: 100%;
  border-collapse: collapse;
}

/* =========================
   TABLE HEAD
============================ */

.comparison-table thead th {
  padding: 16px;
  text-align: center;
  font-size: var(--fs-xxs);
  font-weight: var(--fw-light);
  color: #666666;
  border-bottom: 1.01px solid #666666;
}

/* Column title (Qualities) */
.comparison-table thead th:first-child {
  text-align: left;
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  color: #322D2D;
}

/* Header images */
.comparison-table thead img {
  width: 90px;
  height: 80px;
  display: block;
  margin: 0 auto 8px;
}

/* Highlighted header */
.comparison-table thead th.highlight {
  background-color: #F0FDF4;
  border-bottom: 1.01px dotted #666666;
  border-radius: 12px 12px 0 0;
}

/* Default column title */
.comparison-table thead th span {
  font-size: var(--fs-xxs);
  font-weight: var(--fw-light);
  color: #666666;
}

/* Active (highlighted) column title */
.comparison-table thead th.highlight span {
  font-size: var(--fs-lg);
  font-weight: var(--fw-light);
  color: #000000;
}


/* =========================
   TABLE BODY
============================ */

.comparison-table tbody td {
  padding: 16px;
  text-align: center;
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: #666666;
  border-bottom: 1.01px solid #666666;
}

/* Row titles (first column) */
.comparison-table tbody td:first-child {
  text-align: left;
  font-weight: var(--fw-bold);
}

/* Highlighted column */
.comparison-table tbody td.highlight {
  background-color: #F0FDF4;
  border-bottom: 1.01px dotted #666666;
}

/* Icons */
.comparison-table tbody td img {
  width: 20px;
  height: 20px;
}

/* CTA */
.comparision-cta {
  align-self: center;
  padding: 14px 28px;
  width: fit-content;
}

.comparison-table thead th[data-col] {
  cursor: pointer;
  transition: background-color 0.2s ease;
}



/* =========================
   FOOTER
============================ */
.site-footer {
  background: var(--color-primary);
  padding: 45px 32px;
  color: var(--color-white);
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.footer-logo {
  font-size: var(--fs-4xl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 30px;
}

/* GRID: Left + Right */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: start;
}

.footer-links-social {
  display: flex;
  gap: 100px;
}


.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  display: block;
  margin-bottom: 12px;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: var(--fs-sm);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--color-white);
}

.footer-social{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: var(--fs-sm);
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}

.footer-right h4 {
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  color: #FEF3E4;
}

.newsletter-form {
  display: flex;
  gap: 12px;
}

.newsletter-form input {
  flex: 1;
  padding: 12px 14px;
  background: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.newsletter-form input::placeholder {
  color: var(--color-white);
}

.newsletter-form button {
  padding: 12px 20px;
  background: var(--color-footer-btn);
  color: var(--color-white);
  border: none;
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.footer-privacy {
  font-family: var(--font-secondary);
  font-size: var(--fs-xxs);
  color: var(--color-white);
  line-height: 1.5;
  width: 100%;
}

.footer-privacy a{
  color: var(--color-white);
}