:root {
  /* ============================
     FONT FAMILIES
  ============================ */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Oxanium', sans-serif;

  /* ============================
     FONT WEIGHTS
  ============================ */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* ============================
     FONT SIZES
  ============================ */
  --fs-xxs: 12px;
  --fs-xs: 13px;
  --fs-sm: 14px;
  --fs-base: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 22px;

  --fs-2xl: 30px;
  --fs-3xl: 36px;
  --fs-4xl: 40px;
  --fs-5xl: 56px;
  --fs-6xl: 72px;

  /* ============================
     LINE HEIGHTS
  ============================ */
  --lh-tight: 1.2;
  --lh-normal: 1.4;
  --lh-relaxed: 1.6;

  /* ============================
     LETTER SPACING
  ============================ */
  --ls-tight: -1.33px;
  --ls-wide: 0.9px;
  --ls-normal: 0px;

  /* ============================
     CORE COLORS
  ============================ */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary: #032E15;
  --color-nav-link: #162456;

  --color-text-muted: #B8B8B8;
  --color-text-table: #666666;
  --color-table-header: #322D2D;

  --color-table-column-bg: #F0FDF4;

  --color-footer-btn: #653B09;

  /* ============================
     GRADIENTS
  ============================ */
  --gradient-primary: linear-gradient(
    180deg,
    #032E15 0%,
    #016630 100%
  );

  --gradient-secondary: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
}
